In [57]:
from pygeos import io

In [61]:
import spatialite

In [59]:
import sqlite3
import pandas as pd
import geopandas as gpd
#from shapely import wkb, wkt
import shapely

from shapely import geos
geos.WKBWriter.defaults['include_srid'] = True

In [69]:
conn_sqlite = sqlite3.connect('../FPA_FOD_20170508.sqlite')

In [89]:
conn_sqlite.close()

In [63]:
conn = spatialite.connect('../FPA_FOD_20170508.sqlite')

In [88]:
conn.close()

In [84]:
sql = "select name from sqlite_master where type = 'table'"
tables = pd.read_sql_query(sql, conn_sqlite)
tables

                                  name
0                      spatial_ref_sys
1                   spatialite_history
2                      sqlite_sequence
3                     geometry_columns
4                  spatial_ref_sys_aux
5               views_geometry_columns
6               virts_geometry_columns
7          geometry_columns_statistics
8    views_geometry_columns_statistics
9    virts_geometry_columns_statistics
10        geometry_columns_field_infos
11  views_geometry_columns_field_infos
12  virts_geometry_columns_field_infos
13               geometry_columns_time
14               geometry_columns_auth
15         views_geometry_columns_auth
16         virts_geometry_columns_auth
17                  sql_statements_log
18                        SpatialIndex
19                ElementaryGeometries
20                                 KNN
21                               Fires
22                     idx_Fires_Shape
23                idx_Fires_Shape_node
24               idx_Fires_Shape_rowid
25              idx_Fires_Shape_parent
26          NWCG_UnitIDActive_20170109

In [98]:
sql = '''
SELECT * FROM idx_Fires_Shape_node LIMIT 10'''
df = pd.read_sql_query(sql, conn_spa)
df.head()

   nodeno                                               data
0       1  b'\x00\x04\x00\x03\x00\x00\x00\x00\x00\x00u\xa...
1       2  b'\x00\x00\x00\x0f\x00\x00\x00\x00\x00\x11oT\x...
2       3  b'\x00\x00\x00"\x00\x00\x00\x00\x00\x18\xfd\xb...
3       4  b'\x00\x00\x00\x19\x00\x00\x00\x00\x00\x10@.\x...
4       5  b'\x00\x00\x00 \x00\x00\x00\x00\x00\x10\xd4\x1...

In [92]:
conn_spa = spatialite.connect('../FPA_FOD_20170508.sqlite')

In [100]:
sql = 'SELECT ST_AsBinary(data) as geom FROM idx_Fires_Shape_node LIMIT 10'
df = pd.read_sql_query(sql, conn_spa)
df.head()

   geom
0  None
1  None
2  None
3  None
4  None

In [71]:
#sqlite3
sql = "select * as geom FROM Fires LIMIT 10" 
geometry_sql = pd.read_sql_query(sql, conn_sqlite)
geometry_sql.head()

                                                geom
0  b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1  b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2  b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3  b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4  b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [94]:
# spatialite
sql = "select *, ST_AsBinary(Shape) as geom FROM Fires LIMIT 10" 
geometry_spa = pd.read_sql_query(sql, conn_spa)
geometry_spa.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape,geom
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...,b'\x01\x01\x00\x00\x00\xe8d\xc2\x92_@^\xc0\xe0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...,b'\x01\x01\x00\x00\x00T\xb6\xeej\xe2\x19^\xc0\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...,b'\x01\x01\x00\x00\x00\xd0\xa5\xa0W\x13/^\xc0P...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...,b'\x01\x01\x00\x00\x00\x94\xac\xa3\rt\xfa]\xc0...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...,b'\x01\x01\x00\x00\x00@\xe3\xaa.\xb7\xfb]\xc0\...

In [104]:
io.from_wkb(geometry_spa['geom'][0])

In [108]:
sql = '''
SELECT *, ST_AsBinary(Shape) as geom 
FROM Fires 
WHERE STATE = 'CA'
LIMIT 2000
'''
df = gpd.read_postgis(sql, conn_spa)
df.head()
df.to_csv('./fires.csv', index = 'OBJECTID')

In [107]:
df.columns

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape', 'geom'],
      dtype='object')

In [96]:
df

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape,geom
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...,POINT (-121.00583 40.03694)
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...,POINT (-120.40444 38.93306)
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...,POINT (-120.73556 38.98417)
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...,POINT (-119.91333 38.55917)
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...,POINT (-119.93306 38.55917)
5,6,6,FS-1418849,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.635278,-120.103611,5.0,USFS,CA,5,005,Amador,b'\x00\x01\xad\x10\x00\x00\xf0<~\x90\xa1\x06^\...,POINT (-120.10361 38.63528)
6,7,7,FS-1418851,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.688333,-120.153333,5.0,USFS,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00$o\x996\xd0\t^\xc0h\...,POINT (-120.15333 38.68833)
7,8,8,FS-1418854,FED,FS-FIRESTAT,FS,USCASHF,Shasta-Trinity National Forest,0514,Shasta-Trinity National Forest,...,40.968056,-122.433889,13.0,STATE OR PRIVATE,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00t)\xe8\xd5\xc4\x9b^\...,POINT (-122.43389 40.96806)
8,9,9,FS-1418856,FED,FS-FIRESTAT,FS,USCASHF,Shasta-Trinity National Forest,0514,Shasta-Trinity National Forest,...,41.233611,-122.283333,13.0,STATE OR PRIVATE,CA,None,None,None,"b'\x00\x01\xad\x10\x00\x00\xdc\x8d\x1e""""\x92^\...",POINT (-122.28333 41.23361)
9,10,10,FS-1418859,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,38.548333,-120.149167,5.0,USFS,CA,5,005,Amador,b'\x00\x01\xad\x10\x00\x00dS\\\xf2\x8b\t^\xc0\...,POINT (-120.14917 38.54833)

In [66]:
type(geometry_spa['geom'][0])

bytes

In [74]:
geometry_spa['geom'][0]

b'\x01\x01\x00\x00\x00\xe8d\xc2\x92_@^\xc0\xe0\xc8l\x98\xba\x04D@'

In [73]:
type(geometry_sql['geom'][0])

bytes

In [75]:
geometry_sql['geom'][0]

b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0\xe0\xc8l\x98\xba\x04D@\xe8d\xc2\x92_@^\xc0\xe0\xc8l\x98\xba\x04D@|\x01\x00\x00\x00\xe8d\xc2\x92_@^\xc0\xe0\xc8l\x98\xba\x04D@\xfe'

In [67]:
io.from_wkb(geometry['geom'][0])

In [47]:
str(geometry['geom'][0])

"b'\\x00\\x01\\xad\\x10\\x00\\x00\\xe8d\\xc2\\x92_@^\\xc0\\xe0\\xc8l\\x98\\xba\\x04D@\\xe8d\\xc2\\x92_@^\\xc0\\xe0\\xc8l\\x98\\xba\\x04D@|\\x01\\x00\\x00\\x00\\xe8d\\xc2\\x92_@^\\xc0\\xe0\\xc8l\\x98\\xba\\x04D@\\xfe'"

In [ ]:
geos.WKTReader()

In [54]:
shapely.wkb.loads(geometry['geom'][1], hex = False)

ParseException: Unknown WKB type 96

WKBReadingError: Could not create geometry because of errors while reading input.

In [33]:
gdf = gpd.GeoDataFrame.from_postgis(sql, conn)

ParseException: Unknown WKB type 96

WKBReadingError: Could not create geometry because of errors while reading input.

In [48]:
sql = '''
SELECT * FROM Fires
WHERE STATE = 'CA'
'''
df = pd.read_sql_query(sql, conn)

In [49]:
df

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189545,1880461,300348363,2015CAIRS29019636,NONFED,ST-CACDF,ST/C&L,USCASHU,Shasta-Trinity Unit,CASHU,Shasta-Trinity Unit,...,A,40.481637,-122.389375,13.0,STATE OR PRIVATE,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00P\xb8\x1e\x85\xeb\x9...
189546,1880462,300348373,2015CAIRS29217935,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,...,A,37.617619,-120.938570,12.0,MUNICIPAL/LOCAL,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00\x00\x80\xbe\x88\x11...
189547,1880463,300348375,2015CAIRS28364460,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,...,A,37.617619,-120.938570,12.0,MUNICIPAL/LOCAL,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00\x00\x80\xbe\x88\x11...
189548,1880464,300348377,2015CAIRS29218079,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,...,B,37.672235,-120.898356,12.0,MUNICIPAL/LOCAL,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00x\xba_\xaa~9^\xc0\xb...
189549,1880465,300348399,2015CAIRS26733926,NONFED,ST-CACDF,ST/C&L,USCABDU,San Bernardino Unit,CABDU,CDF - San Bernardino Unit,...,A,34.263217,-116.830950,13.0,STATE OR PRIVATE,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00\x1c\xa7\xe8H.5]\xc0...

In [54]:
df['Shape'][0]

b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0\xe0\xc8l\x98\xba\x04D@\xe8d\xc2\x92_@^\xc0\xe0\xc8l\x98\xba\x04D@|\x01\x00\x00\x00\xe8d\xc2\x92_@^\xc0\xe0\xc8l\x98\xba\x04D@\xfe'

In [50]:
df.shape

(189550, 39)

In [46]:
df.to_csv("./fires.csv",index = 'OBJECTID')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880465 entries, 0 to 1880464
Data columns (total 39 columns):
 #   Column                      Dtype
---  ------                      -----
 0   OBJECTID                    int64
 1   FOD_ID                      int64
 2   FPA_ID                      object
 3   SOURCE_SYSTEM_TYPE          object
 4   SOURCE_SYSTEM               object
 5   NWCG_REPORTING_AGENCY       object
 6   NWCG_REPORTING_UNIT_ID      object
 7   NWCG_REPORTING_UNIT_NAME    object
 8   SOURCE_REPORTING_UNIT       object
 9   SOURCE_REPORTING_UNIT_NAME  object
 10  LOCAL_FIRE_REPORT_ID        object
 11  LOCAL_INCIDENT_ID           object
 12  FIRE_CODE                   object
 13  FIRE_NAME                   object
 14  ICS_209_INCIDENT_NUMBER     object
 15  ICS_209_NAME                object
 16  MTBS_ID                     object
 17  MTBS_FIRE_NAME              object
 18  COMPLEX_NAME                object
 19  FIRE_YEAR                   int64
 20  DISCOVERY_DATE              float64
 21  DISCOVERY_DOY               int64
 22  DISCOVERY_TIME              object
 23  STAT_CAUSE_CODE             float64
 24  STAT_CAUSE_DESCR            object
 25  CONT_DATE                   float64
 26  CONT_DOY                    float64
 27  CONT_TIME                   object
 28  FIRE_SIZE                   float64
 29  FIRE_SIZE_CLASS             object
 30  LATITUDE                    float64
 31  LONGITUDE                   float64
 32  OWNER_CODE                  float64
 33  OWNER_DESCR                 object
 34  STATE                       object
 35  COUNTY                      object
 36  FIPS_CODE                   object
 37  FIPS_NAME                   object
 38  Shape                       object
dtypes: float64(8), int64(4), object(27)
memory usage: 559.5+ MB

In [44]:
df.columns

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')

In [109]:
gdf = gpd.read_file('../../Downloads/Wildfires_1870_2015_Great_Basin_SHAPEFILE/Wildfires_1870_2015_Great_Basin.shp')

In [111]:
gdf.tail()

,Fire_Name,Fire_Code,Fire_Year,Hectares_B,After1990,SHAPE_Leng,SHAPE_Area,geometry
11964,Clover,JUR1,2015,0.038600,1,106.035422,386.000980,"POLYGON ((-1502866.201 2354823.254, -1502865.5..."
11965,Rural Assist 3,J0J4,2015,0.025197,1,106.106602,251.967773,"POLYGON ((-1511179.676 2411311.868, -1511178.7..."
11966,Rose,JX1J,2015,0.022637,1,69.871438,226.374984,"POLYGON ((-1431363.049 2282429.634, -1431363.8..."
11967,Vernon,JU5Z,2015,0.009195,1,56.843424,91.954699,"MULTIPOLYGON (((-1380152.073 2025458.276, -138..."
11968,Bridge,JZZ5,2015,0.003717,1,39.691018,37.173863,"POLYGON ((-1532406.046 2365187.194, -1532406.2..."

In [114]:
len(gdf['Fire_Code'])

11969

In [115]:
len(gdf['Fire_Code'].unique())

8064

In [117]:
gdf = gpd.read_file('../Cal_Hist_1950_2018.shx')
gdf.head()

                                            geometry
0  POLYGON ((138036.906 -402646.363, 138086.986 -...
1  POLYGON ((130072.487 -398622.842, 130094.237 -...
2  POLYGON ((114013.974 -379231.746, 114190.835 -...
3  POLYGON ((176902.236 -388673.082, 176907.996 -...
4  POLYGON ((115905.006 -436381.137, 115926.897 -...

In [150]:
a = pd.Series(["a", "b", "--","--", "d", "e"])

In [143]:
a.index

RangeIndex(start=0, stop=6, step=1)

In [144]:
a.index.get_loc(1)

1

In [140]:
a.equals()

AttributeError: 'Series' object has no attribute 'find'

In [139]:
a.where(a != "--")

0    a
1    b
2    -
3    -
4    d
5    e
dtype: object

In [191]:
a = pd.Series(["a", "b", "--", "d", "e", "b","e", "1","--", "e", "b","b","b"])

In [178]:
a

0     a
1     b
2    --
3     d
4     e
5     e
dtype: object

In [157]:
b.index("--")

2

In [158]:
b.insert(b.index("--"),"--")

In [195]:
"e" in list(a)[10:]

False

In [ ]:

while "e" in list(a)[10:]
spot = list()

In [194]:
try: 
    list(a)[10:].index("e")
except:

ValueError: 'e' is not in list

In [160]:
b

['a', 'b', '--', '--', '--', 'd', 'e']

In [187]:
v = list(a).index("e")

In [188]:
list(a)[v:].index("e")

0

In [190]:
list(a)[v:]

['e', 'b', 'e', '1', 'e']

In [207]:
"e" in list(a)[100:]

False

In [210]:
a = pd.Series(["a", "b", "--", "d", "e", "b","e", "1","--", "e", "b","b","b"])

In [213]:
list(a)[3:]

['d', 'e', 'b', 'e', '1', '--', 'e', 'b', 'b', 'b']

In [222]:
def insert_ugly_nans(series):
    spot = 0
    series_list = list(series)
    while "--" in series_list[spot:]:
        series_list[spot:]
        spot = spot+series_list[spot:].index("--")+2
        series_list.insert(spot-1, "--")
    return pd.Series(series_list)

In [224]:
b = insert_ugly_nans(a)

In [225]:
b

0      a
1      b
2     --
3     --
4      d
5      e
6      b
7      e
8      1
9     --
10    --
11     e
12     b
13     b
14     b
dtype: object

In [152]:
a.mask(a == '--')

0      a
1      b
2    NaN
3    NaN
4      d
5      e
dtype: object

In [153]:
a

0     a
1     b
2    --
3    --
4     d
5     e
dtype: object

In [129]:
string = "lkjs -- -- lksdjf"

In [130]:
string.split(sep = ' ')

['lkjs', '--', '--', 'lksdjf']

In [131]:
a

0     a
1     b
2    --
3     d
4     e
dtype: object